header {
  background-image: url(../../../../assets/bet-header.png);
  background-position: center;
  height: 6rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  h4{
    margin: 0px !important;
  }
}
