.team-card-container {
  width: 150px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 0px;
}

.team-card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0px;
  color: #ffffff;
  text-align: center;

  max-width: 100px;
}

.team-card-flag {
  height: 75px;
  width: 110px;
  margin-bottom: 0px;
}
