.team-card-container{
    width: 150px;
    height: 150px;
}

.team-card-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.team-card-flag{
    height: 75px;
    width: 100px;
    object-fit: cover;
}