<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Hola</h1>
	<a th:href="@{/}">Regresar</a>
	
	<form th:action="@{/buscar}" method="post" th:object="${usuario}">
		<label for="email">Email</label>
			<input type="text" name="email" th:field="*{email}"/>
		<label for="contrasenia">Contraseña</label>
			<input type="password" name="contrasenia" th:field="*{contrasenia}" />
			
		<button type="submit" >Ingresar</button>
		
	</form>

</body>
</html>