.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

table {
  width: 80%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  text-align: center;
}

td.mat-footer-cell{
  background: #080E59;
  color: #ffffff;
  font-weight: normal;
  padding-bottom: 0px;
  margin-bottom: 0px;
}