header {
  background-image: url(../../../../assets/jackpot.png);
  background-position: center;
  height: 70%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  h4 {
    margin: 0px !important;
  }
}
