.match-card-container {
  width: 300px;
  height: 270px;

  background: rgb(205,255,254);
  background: linear-gradient(0deg, rgba(205,255,254,1) 0%, rgba(255,255,255,1) 10%, rgba(205,255,254,1) 90%);

  margin: 20px;
  padding: 10px;
  border-radius: 20px;

  box-shadow: -1px 2px 3px 1px #585858;

  display: flex;
  flex-direction: column;
}

.versus-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #151515;
  font-weight: bold;
}

.team-image {
  height: 50px;
  width: 80px;
}

.match-title-container {
  color: #151515;
  text-align: center;
  font-weight: bold;
}

.vs-container {
  color: #151515;
  font-weight: bold;
}

.match-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  text-align: center;
  color: #151515;
}

span {
  color: #fe0267;
  font-weight: bold;
}

.matches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button--container {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background: #fe0267;
    color: #ffffff;
  }
}
