<div class="nav-bar-container">
  <img
    class="nav-logo"
    src="../../../../assets/CERTANT.svg"
    alt="CERTANT cup Logo"
  />
  <nav class="nav-link-container">
    <a class="nav-link" [routerLink]="'home'">Home</a>
    <a class="nav-link" [routerLink]="'ranking'">Ranking</a>
    <a class="nav-link" [routerLink]="'goleadores'">Goleadores</a>
    <a class="nav-link" [routerLink]="'apuestas'">Apuestas</a>
    <a class="nav-link nav-icon" [routerLink]="'micuenta'">
      <mat-icon>account_box</mat-icon>
    </a>
    <a class="nav-link nav-icon" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </a>
  </nav>
  <div class="nav-menu-button">
    <button [matMenuTriggerFor]="menu" mat-mini-fab color="primary">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="'home'" mat-menu-item>Home</button>
      <button [routerLink]="'ranking'" mat-menu-item>Ranking</button>
      <button [routerLink]="'goleadores'" mat-menu-item>Goleadores</button>
      <button [routerLink]="'apuestas'" mat-menu-item>Apuestas</button>
      <button [routerLink]="'micuenta'" mat-menu-item>Mi Cuenta</button>
      <button (click)="logout()" mat-menu-item>Salir</button>
    </mat-menu>

  </div>
</div>
