.carousel-container {
  height: 90%;
}

@media only screen and (max-width: 600px) {
  .igx-slide img {
    object-fit: contain;
    width: 100%;
  }

  .carousel-container {
    height: 45%;
  }

  .igx-slide {
    background: none;
  }
}

@media only screen and (min-width: 1400px) {
  .igx-slide img {
    object-fit: contain;
    width: 100%;
  }

  .igx-slide {
    background: none;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

:host ::ng-deep {
  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .igx-carousel {
    max-width: 100%;
    width: unset;
  }

  .igx-nav-dot {
    background: black;
    box-shadow: none;
    width: 15px;
    height: 15px;
  }

  .igx-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: unset;
    background: none;
  }

  .igx-slide img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.slide-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    color: #ffffff;
    font-size: 48px;
    -webkit-text-stroke: 1px rgb(38, 0, 88);
    font-family: "Bebas Neue", cursive;
  }

  button {
    width: 125px;
    background: #fe0267;
    color: #ffffff;
    margin: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-container{
    height: 30%;
  }

  .slide-container {
    top: 500px;
    justify-content: flex-start;
    align-items: center;

    span {
      max-width: 60%;
      font-size: 24px;
      text-align: center;
      margin: 20px;
    }
  }
}

.player{
  background-image: url("../../../../assets/select-top-player.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.team{
  background-image: url("../../../../assets/select-top-team.png");
  background-size: contain;
  background-repeat: no-repeat;
}