<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
       <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Crear Equipo</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
	</head>
    
    <body/>
	
       <nav th:replace="components/navbar :: nav_bar"></nav>
       <div th:replace="components/alerts :: alert_save"></div>
    	 	
        <div class="container" style="width: 100%; display: flex; justify-content: flex-start; align-items: center;">
            <form action="#" th:action="@{guardar}" th:object="${jugador}" method="post" class="row g-3 mt-3" style="width: 70%">
               
                <div class="col-10">
					<h2>INSCRIBIR JUGADOR</h2>
				</div>
				
                <div class="col-10">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre del jugador" id="nombre" th:field="*{nombre}">
                    <p th:if="${#fields.hasErrors('nombre')}" th:errorClass="error"
					th:errors="*{nombre}"/>
				</div>
				
                    <div class="col-10"> 
                    	<label for="apellido" class="form-label">Apellido</label>
                    	<input type="text" class="form-control" placeholder="Apellido del jugador" th:field="*{apellido}" id="apellido">
                    	<p th:if="${#fields.hasErrors('apellido')}" th:errorClass="error"
							th:errors="*{apellido}"/>
                    </div>
                    
                    <div class="col-4"> 
                    	<label for="dorsal" class="form-label">Dorsal</label>
                    	<input type="number" class="form-control" placeholder="Dorsal del jugador"  th:field="*{dorsal}">
                    </div>
                    
                    <div class="col-6"> 
                    <label for="equipo" class="form-label">Equipo: </label>
					<select th:field="*{equipo}" id="equipo" class="form-select" required>
						<option th:each="equipo:${equipos}"
						th:value="${equipo.idEquipo}"
						th:text="${equipo.nombre}"/>
					</select>
					</div>
					
					<div class="col-12">
                		<button type="submit" class="btn btn-success" id="search"> <span class="glyphicon glyphicon-search"></span>INSCRIBIR</button>
            		</div>
            </form>
        </div>
       
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-12 text-center text-white">Certant &copy; </p></div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
