<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
        
		<title>Lista de Jugadores</title>
		
</head>
<body>
	
	<nav th:replace="components/navbar :: nav_bar"></nav>

	<!--  Tabla de jugadores por parte de JugadorController -->
	<div th:if="${jugadores != null and !jugadores.empty}">

		<div class="text-center py-4">
			<h2>LISTA DE JUGADORES</h2>
			<a th:href="@{agregar}" class="btn btn-success" style="margin: 15px;">Ingresar Jugador</a>
		</div>
		
		<div class="container"> 
		<table class="table table-dark table-striped text-center" style="width: 100%">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Goles</th>
					<th>Dorsal</th>
					<th>Bandera Equipo</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jugador : ${jugadores}">
					<td th:text="${jugador.nombre}">Sin datos</td>
					<td th:text="${jugador.apellido}">Sin datos</td>
					<td th:text="${jugador.goles}">Sin datos</td>
					<td th:text="${jugador.dorsal}">Sin datos</td>
					<td><img th:src="${jugador.getEquipo().getDireccionImagen}"
						style="height: 30px !important; width: 50px !important; margin-bottom: 15px" /></td>
					<td><a th:href="@{editar/} + ${jugador.idJugador}"
						th:text="Editar" class="btn btn-warning"></a></td>
					<td><a th:href="@{eliminar/} + ${jugador.idJugador}"
						th:text="Eliminar" class="btn btn-danger"></a></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<!--  Tabla de jugadores por parte de EquipoController -->
	<div th:if="${listaJugadoresPorEquipo != null and !listaJugadoresPorEquipo.empty}">

		<div class="text-center py-4">
			<h2 style="margin-bottom: 10px;" class="transformacion">LISTA DE JUGADORES DE <span th:text="${listaJugadoresPorEquipo[0].getEquipo().getNombre}"></span></h2>
			<img
				th:src="${listaJugadoresPorEquipo[0].getEquipo().getDireccionImagen}"
				style="height: 75px !important; width: 100px !important; margin-bottom: 15px" />
		</div>
		
		<div class="container"> 
		<table class="table table-dark table-striped text-center" style="width: 100%">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Goles</th>
					<th>Dorsal</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jugador : ${listaJugadoresPorEquipo}">
					<td th:text="${jugador.nombre}">Sin datos</td>
					<td th:text="${jugador.apellido}">Sin datos</td>
					<td th:text="${jugador.goles}">Sin datos</td>
					<td th:text="${jugador.dorsal}">Sin datos</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
	
</body>
</html>