<div class="login-form-container" data-aos="zoom-in">
  <div>
    <img
      class="login-form-image"
      src="../../../../assets/CERTANT.svg"
      alt="Certant Cup Logo"
    />
    <form
      class="login-form-input-container"
      [formGroup]="userLogin"
      autocomplete="off"
    >
      <mat-form-field class="login-form-input" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error>
          Tu email debe ser el Institucional Ej: yo@certant.com
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-form-input" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error> Este Campo es obligatorio </mat-error>
      </mat-form-field>

      <button
        [disabled]="userLogin.invalid"
        mat-raised-button
        class="login-form-button"
        (click)="submit()"
      >
        Login
      </button>
    </form>
  </div>
</div>
