<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />   
        <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />      
		<link th:href="@{/css/estilos.css}" rel="stylesheet" />
		<title>Lista de Equipos</title>
		
		<style>
			table td,th{
				text-align: center;
			}
		</style>
</head>
<body>
	
	<nav th:replace="components/navbar :: nav_bar"></nav>
	<div th:replace="components/alerts :: alert_delete"></div>
	
		<div th:if="${equipos != null and !equipos.empty}">
			<div style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin: 15px;">
				<h2>LISTA DE EQUIPOS</h2>
			<a th:href="@{agregar}" class="btn btn-success">Ingresar Equipo</a>
		</div>

		<div class="container"> 
		<table class="table table-dark table-striped"
			style="width: 100%">
			<thead>
				<tr>
					<th>Imagen</th>
					<th>Nombre</th>
					<th>Lista de Jugadores</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="equipo : ${equipos}">
					<td>
						<img th:src="${equipo.direccionImagen}" style="height: 50px !important; width: 75px !important;">
					</td>
					<td th:text="${equipo.nombre}"></td>
					<td><a th:href="@{listarJugadores/} + ${equipo.idEquipo}"
						th:text="[ver]" class="btn btn-info"></a></td>
					<td><a th:href="@{editar/} + ${equipo.idEquipo}"
						th:text="Editar" class="btn btn-warning"></a></td>
					<td><a th:href="@{eliminar/} + ${equipo.idEquipo}"
						th:text="Eliminar" class="btn btn-danger"></a></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	
</body>
</html>