<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Editar Partidos</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <link th:href="@{/https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet" />
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="py-3 bg-dark">
       
       <nav th:replace="components/navbar :: nav_bar"></nav>
       
    <br>
    <br>
    <br>
        <div class="container" id="advanced-search-form">
            <form th:action="${partido.idPartido}" th:object="${partido}" method="post">
                <div class="form-group">
                
                	<p class="text-white mb-2"> Fase de equipo</p>
					<select th:field="*{fasePartido}" id="fasePartido">
						<option value="Fase de Grupos">Fase de Grupos</option>
						<option value="Grupo A">Grupo A</option>
						<option value="Grupo B">Grupo B</option>
						<option value="Grupo C">Grupo C</option>
						<option value="Octavos">Octavos</option>
						<option value="Cuartos">Cuartos</option>
						<option value="Semifinal">Semifinal</option>
						<option value="Final">Final</option>
					</select>
					
					<br>
                
                    <label for="estadium" class="text-white mb-2">Estadio</label>
                    <input type="text" class="form-control" placeholder="Nombre del estadio" id="estadium" th:field="*{estadio}">
            	
                    <label for="first-name" class="text-white mb-2">Fecha Partido</label>
                    <input type="datetime-local" class="form-control" th:field="*{fechaPartido}">
                 
                    <p class="text-white mb-2">Estado Apuesta</p>
					<select th:field="*{estadoApuesta}" id="estadoApuesta">
						<option value="Apuestas Abiertas">Abiertas</option>
						<option value="Apuestas Cerradas">Cerradas</option>
						<option value="Apuestas Finalizadas">Finalizadas</option>
					</select>
		
					  <p class="text-white mb-2"> Equipo Local:</p>
					<select th:field="*{idEquipoLocal}" id="EquipoLocal">
						<option th:each="equipo:${listaEquipos}"
						th:value="${equipo.idEquipo}"
						th:text="${equipo.nombre}"/>
					</select>
				
					  <p class="text-white mb-2"> Equipo Visitante:</p>
					<select th:field="*{idEquipoVisitante}" id="EquipoVisitante">
						<option th:each="equipo:${listaEquipos}"
						th:value="${equipo.idEquipo}"
						th:text="${equipo.nombre}"/>
					</select>
					
					
                    <br>
                </div>
                <div class="clearfix"></div>
                 <br>
                <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span>Crear jugador</button>
            </form>
        </div>


       
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-12 text-center text-white">Certant &copy; </p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>