	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />   
        <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" />      
		<title>Lista de Partidos</title>
		
		<style>
			table td,th{
				text-align: center;
			}
		</style>
</head>
<body>
	
	<nav th:replace="components/navbar :: nav_bar"></nav>
	
	<div style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin: 15px;" >
		<h2>LISTA DE PARTIDOS</h2>
		<a th:href="@{agregar}" class="btn btn-success">Crear Partido</a>
	</div>

	<div th:if="${partidos != null and !partidos.empty}" id="match-list">
	
	<div class="container"> 
		<table class="table table-dark table-striped" style="width: 100%">
			<thead>
				<tr>
					<th>Fase</th>
					<th>Estadio</th>
					<th>Fecha Partido</th>
					<th>Estado</th>
					<th>Equipo Local</th>
					<th>Equipo Visitante</th>
					<th>Mas info</th>
					<th>Cargar Resultados</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="partido : ${partidos}">
					<td th:text="${partido.fasePartido}"></td>
					<td th:text="${partido.estadio}"></td>
					<td th:text="${partido.fechaPartido}"></td>
					<td th:text="${partido.estadoApuesta}"></td>
					<td th:each="equipo : ${equipos}" th:if="${equipo.idEquipo == partido.idEquipoLocal}">
						<img th:src="${equipo.direccionImagen}" style="height: 55px; width: 90px; object-fit: cover"/>
					</td>
					<td th:each="equipo : ${equipos}" th:if="${equipo.idEquipo == partido.idEquipoVisitante}">
						<img th:src="${equipo.direccionImagen}" style="height: 55px; width: 90px; object-fit: cover"/>
					</td>
					<td><a th:href="@{listarEquipos/} + ${partido.idPartido}" th:text="[Info]" class="btn btn-info"></a></td>
					<td><a th:href="@{cargarResultados/} + ${partido.idPartido}" th:text="[Cargar]" class="btn btn-primary"></a></td>
					<td><a th:href="@{editar/} + ${partido.idPartido}" th:text="Editar" class="btn btn-warning"></a></td>
					<td><a th:href="@{eliminar/} + ${partido.idPartido}" th:text="Eliminar" class="btn btn-danger"></a></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			$('#match-list').DataTable();
		});
	</script>
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

</body>
</html>